*.bak
*.o
*.user.*
*.user
ui_qdlg*.h
.qmake.stash
Makefile
Makefile.Debug
Makefile.Release
libsimExtGeom.1.0.0.dylib
libsimExtGeom.1.0.dylib
libsimExtGeom.1.dylib
libsimExtGeom.dylib
libsimExtGeom.so
libsimExtGeom.so.1
libsimExtGeom.so.1.0
libsimExtGeom.so.1.0.0
debug
release
object_script.*.Debug
object_script.*.Release
