*.bak
*.o
*.user.*
*.user
ui_qdlg*.h
.qmake.stash
Makefile
Makefile.Debug
Makefile.Release
libsimGeom.1.0.0.dylib
libsimGeom.1.0.dylib
libsimGeom.1.dylib
libsimGeom.dylib
libsimGeom.so
libsimGeom.so.1
libsimGeom.so.1.0
libsimGeom.so.1.0.0
debug
release
object_script.*.Debug
object_script.*.Release
