*.bak
*.o
*.user.*
*.user
ui_qdlg*.h
.qmake.stash
Makefile
Makefile.Debug
Makefile.Release
libsimExtGeometric.1.0.0.dylib
libsimExtGeometric.1.0.dylib
libsimExtGeometric.1.dylib
libsimExtGeometric.dylib
libsimExtGeometric.so
libsimExtGeometric.so.1
libsimExtGeometric.so.1.0
libsimExtGeometric.so.1.0.0
debug
release
object_script.*.Debug
object_script.*.Release
